.navbar-brand {
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.links > a {
  color: #222;
  padding: 0 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.top-nav-collapse {
  background-color: #c56bdb !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.navbar.top-nav-collapse .navbar-brand i {
  color: #000 !important;
}

.btn-rounded {
  border-radius: 2.5rem;
}

label.active:after {
  min-width: 200px !important;
}