h2.brand {
    text-align: center;
    padding: 20px;
    font-family: 'Courgette', cursive;
}

.open-side {
  cursor: pointer;
  padding: 0.5rem;
}

.card-body {
    padding: 0;
}

.card-header {
    cursor: pointer;
}
