@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
      height: 700px;
  }
}

.card-image {
  background-size: cover;
  background-position: 50% 50%;
}

.feature-title {
  font-size: 2.2rem;
}

.avatar {
  padding: 2rem;
}
